.story-card {
    margin: 2px;
    border: 1px solid #326273;
    padding: 5px;
    background-color: #EEEEEE;
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;
}

#story-card-1 {
    grid-area: left-1;
    display: flex;
    justify-content: space-around;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
    display: flex;
    justify-content: space-around;
}


#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
}

#story-content img{
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}


#ad {
    width: 33%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 32%;
    flex-grow: 1;
    margin: 2px;
    border: 1px solid #326273;
    padding: 5px;
    background-color: #E39774;
    align-content: space-between;
    flex-basis: 32%;
    flex-grow: 1;
}


#ad a, #ad-card a {
    display: flex;

}



#ad img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    filter: none;
    margin-right: 1em;

}

#ad-card img {
    margin: 0 0 10px 10px;
    width: 50%;
    filter: none;
    margin-right: 1em;
}

#ad-card {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-basis: 32%;
    flex-grow: 1;
    margin: 2px;
    border: 1px solid #326273;
    padding: 5px;
    background-color: #E39774;
    flex-basis: 32%;
    flex-grow: 1;
    justify-content: space-around;
}


#ad img:hover, #ad-card:hover {
    filter: grayscale(100%);
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



#wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
}

#see-link {
    float: left;
}

#story-header {
    display: inline-block
}

#author {
    display: flex;
    align-items: flex-start;
    text-justify: initial;
    justify-items: start;
    float: left;
}



/* Heading to allow space for Nav bar */
#create-story {
    display: flex;
    text-align: center;
    margin-top: 5.5em;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .title h2{
      padding-top: 10px;
      margin-top: 0px
    }


  }