{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"> 
{% endblock %}
{% comment %} Need to work on formatting of login button {% endcomment %}
{% block content%}

<div id ="wrapper">

{% if user.is_authenticated %}
<form action="" method="post">
    <div id = "create-story">
    <h2>Tell us your story!</h2></div>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
    {% else %}
    <br>
    <div class="title"><h2><a href="{% url 'login' %}">Login</a></h4></div>
    {% endif %}
</form>
</div>
{% endblock %}

