   {% extends "base.html" %}
   {% load static %}
   {% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"> 
   {% endblock %}
   {% block content %}
   <div class="title">
   <h2>Here's the latest!</h2>
   </div>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
    <div id = "ad">
    <a href = "https://www.petcircle.com.au/">
    <img src = "https://images.unsplash.com/photo-1532303517831-241791b20fb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="story-card-text">
            <h3>Your cat is hungry</h3>
            <h4>Buy them some Wet Food</h4>
            <p>Pooping rainbow while flying in a toasted bread costume in space cat gets stuck in tree firefighters try to get cat down firefighters get stuck in tree cat eats firefighters' slippers and make plans to dominate world and then take a nap the fat cat sat on the mat bat away with paws lick butt. Hiss and stare at nothing then run suddenly away sit in window and stare oooh, a bird, yum and get video posted to internet for chasing red dot and try to hold own back foot to clean it but foot reflexively kicks you in face, </p>
            <strong>
            <h4># hungrycats #ad</h4>
            </strong>
    </div>
    </a>
    </div>
    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %}