<!-- {% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"> 
{% endblock %}
{% block content %}
<div class="title">
<!-- Name of selected category to go here -->
<h2>Here's the latest {% story.category %}</h2>
</div>
 <div id="latest-stories">
     {% Category_View %}
         {% for story in latest_stories %}
             {% include "./storyCard.html" with story=story position=forloop.counter %}
         {% endfor %}
     {% else %}
         <p>No stories are available.</p>
     {% endif %}
 </div>

 <div id="all-stories">
     {% if latest_stories %}
         {% for story in all_stories %}
         {% include "./storyCard.html" with story=story %}
         {% endfor %}
     {% else %}
         <p>No stories are available.</p>
     {% endif %}
 </div>

 {% endblock %} -->