{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"> 
{% endblock %}
{% block content %}

<div id="story-wrapper">
    <div class="title"><h2>{{ story.title }}</h2></div>
        <!-- CSS needs to be updated for space on Author -->

    <div class="author"><h4>Story by: <a href="{% url 'news:storyAuthor' story.author.username %}">{{ story.author }}</a></h4></div>

    <em>Published: {{ story.pub_date }}</em>
    <div id="story-content">
        <img src = "{{ story.image_url }}">
        {{ story.content|linebreaks }}
    </div>
    
    <div><h4>See more stories about<a href="{% url 'news:storyCategory' story.category.pk %}">{{ story.category }}</a></h4>
    </div>
</div>
{% endblock %}